// Color Palette (based on GEVO logo)
$gevo-green-light: #00904e;
$gevo-ochre: #7d7b00;
$gevo-blue: #009196;
$gevo-green: #1b8a00;
$gevo-orange: #bd5d00;
$gevo-red: #ec1c24;

// Fonts
$gevo-font: 'Cooper Hewitt', sans-serif;
