@font-face {
  font-family: 'Cooper Hewitt';
  src:
    url('./fonts/cooper-hewitt/CooperHewitt-Heavy.woff2') format('woff2'),
    url('./fonts/cooper-hewitt/CooperHewitt-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src:
    url('./fonts/cooper-hewitt/CooperHewitt-Light.woff2') format('woff2'),
    url('./fonts/cooper-hewitt/CooperHewitt-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src:
    url('./fonts/cooper-hewitt/CooperHewitt-Book.woff2') format('woff2'),
    url('./fonts/cooper-hewitt/CooperHewitt-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src:
    url('./fonts/cooper-hewitt/CooperHewitt-Bold.woff2') format('woff2'),
    url('./fonts/cooper-hewitt/CooperHewitt-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src:
    url('./fonts/cooper-hewitt/CooperHewitt-Medium.woff2') format('woff2'),
    url('./fonts/cooper-hewitt/CooperHewitt-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
